<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta
            name="viewport"
            content="initial-scale=1, maximum-scale= 1, minimum-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="/assets/font/iconfont.css" />
    </head>

    <body>
        <div id="root" style="height: 100%"></div>
        <script src="/assets/js/rem.js"></script>
    </body>
</html>
