* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  height: 100%;
  font-size: 12px;
  font-family: 'PingFang SC, Microsoft YaHei'
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-menu-dark .ant-menu-item-selected span a {
  color: #fff;
}